body {
   background: linear-gradient(90deg, #E12426,#ff9C00);
    padding:0;
    margin:0;
}
.clear{
    clear:both;
}

#container {
    width: 300px; 
    margin: 10px auto;
    background:#cccccc;
    border-radius:20px;
    box-shadow: 20px 15px 22px #333399;
    border: 2px #df80ff inset;
     

}
/*MENU*/
#menu{
    margin:0;
    padding:0;
    list-style:none ;
    
}
#menu li {
    float:left;  
    width: 92px; 
    padding:14px 0;
    background: rgb(112,100,222);
    background: linear-gradient(90deg, rgba(112,100,222,1) 0%, rgba(144,140,200,1) 0%, rgba(223,52,171,1) 94%);  
  
    margin: 6px 2px 4px 2px;  
    cursor:pointer;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
    text-align:center;
    color:#000000 ;
    border-radius:20px;
    box-shadow: 4px 8px 10px  #a6a6a6;
    border: 2px #df80ff inset;
}
#menu li:hover {
    background:#ccccb3;/*#6e6e6e;*/
}
#menu li.active{  
    background: rgb(238,61,12);
    background: linear-gradient(90deg, rgba(238,61,12,1) 0%, rgba(241,27,178,1) 0%, rgba(223,143,21,1) 99%); 
    border:2px dotted  #4d4d4d;
      box-shadow: 1px 15px 22px 8px  #ffffe6;/*#ffb3d9*/
}


#menu li:last-child{
    margin-right:0;
}


#content {  
    width:300px;
   /* height:280px;*/
    font-family: 'Dancing Script', cursive;
    background-image:url();
     border-radius:20px;
     border: 1px #df80ff inset;
   box-shadow: 1px 0 20px 11px  black;
}

#content div:first-child{ 
    padding:0 20px 0 20px;
    font-size:22px;
    display:block;  
    height:auto;  
}
#content div:nth-child(2){   
    padding: 10px 20px 0 10px;
    height:280px;  
}
#content div:nth-child(3){  
    font-size:20px;
    text-align:center;
    padding:0 10px 0 10px;
    height:280px;  
}


#content div{     
    display:none;
}

#content div:nth-child(2) p{
line-height: 0; font-family: Arial ; font-size:14px; font-style:italic
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7{
    width:300px;
    display:none;
    margin-top:20px; 
  margin-left: -10px;
   border-radius:10px;
    box-shadow:10px 10px 60px 40px 
    opacity:0.8;
    animation: spin 1s 1 linear; 
}

@keyframes spin {
   100% {transform: scale(1) rotate(1620deg);}
    80% {transform: scale(0.9) rotate(1440deg);}
    70% {transform: scale(0.8)  rotate(1260deg);}
    60% {transform: scale(0.7)  rotate(1080deg);}
    50% {transform: scale(0.6)  rotate(900deg);}
    40% {transform: scale(0.5)  rotate(720deg);}
    30% {transform: scale(0.4)  rotate(540deg);}
    20% {transform: scale(0.3)  rotate(360deg);}
    10% {transform: scale(0.2)  rotate(180deg);}
    0% {transform: scale(0.1) rotate(0deg) ;}
}

@-webkit-keyframes spin{
    100% {transform: scale(1) rotate(360deg);}
    0% {transform: scale(0.1)  rotate(0deg);    }
}
@-moz-keyframes spin{
    100% {transform: scale(1) rotate(360deg);}
    0% {transform: scale(0.1)  rotate(0deg);    }
}
.button{  
    cursor:pointer;
     padding: 4px 10px 4px 10px;
     margin-right:10px;
    border:3px red;
    border-radius: 14px;
     background: rgb(112,100,222);
    background: linear-gradient(90deg, rgba(112,100,222,1) 0%, rgba(144,140,200,1) 0%, rgba(223,52,171,1) 94%);
     animation:moveButton 2s infinite;
        -webkit-animation:moveButton 2s infinite ;
        -moz-animation:moveButton 2s infinite ;
}
@keyframes moveButton {
    0% {transform:scale(1.3);}
    25% {transform:scale(0.95);}
    50% {transform:scale(1);}
    75% {transform:scale(0.95);}
    100% {transform:scale(1.3);}
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7 {
    float:none;
}


.button1, .button2, .button3, .button4, .button5, .button6, .button7 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-right:12px;
  background-color: #424242;
  border-radius: 50%;
  display: inline-block;
}

#img1.active1, #img2.active1, #img3.active1, #img4.active1 #img5.active1, #img6.active1, #img7.active1{
  display:block;
}

.button1.active3, .button2.active3, .button3.active3, .button4.active3, .button5.active3, .button6.active3, .button7.active3 {
    background-color: #ff8080;
}
*#img1.active2, #img2.active2{
    display: none;
}

.button:focus {outline:0;} 

/*MY SKILL*/
.full{
    width: 100%;
    background-color:#b3b3b3;
    height: 20px;
    margin-top:10px;
    border-radius:20px;
    border:3px solid #b3b3b3;
    font-size:15px;
    text-align:center;
}
.progress{
    text-align:center;
    color:black;
      border-radius:20px;height: 20px;
    background: rgb(135,92,10);
    background: linear-gradient(90deg, rgba(135,92,10,1) 0%, rgba(255,245,35,1) 94%);
}

.html {width: 50%;}
.js {width: 25%;}
.css {width: 55%;}
.java {width: 85%;}
.php {width: 83%;}

/*BUBBLES*/
.follow1, .follow2 {
  position:absolute;
  background-color:transparent;
  width:20px;
  height:20px;
  animation: tavolodas 40s infinite;
  }
.follow1 {
  left:250px;
  top:100px;
}
.follow2 {
  left:100px;
  top:10px;
}
@keyframes tavolodas {
  100% { transform: scale(0.5); opacity: 1; }  
  70% {transform:scale(0.3) rotate(100deg)} 
  60% {transform:rotate(200deg)}
 50% {transform: scale(0.3) rotate(150deg)}
  40% {transform: scale(0.4) rotate(30deg)}
  20% { opacity: 1; }
  0% { transform: scale(0.1); opacity: 0;}
}
.bubble1, .bubble2 {
  position:absolute;
  width:120px;
  height:120px; 
  background:  #e6cd43;/*#8080ff;*/ 
  border-radius:50% ;
  box-shadow:inset 10px 5px 20px 15px  #e6eeff;
  border-bottom: 1px solid  #99bbff;
  border-top:1px solid white;
  animation: movebubble 2s infinite ease-in-out;
 opacity:0.6;
}
.bubble1 {
  top:130px;
  left:100px;
}
.bubble2 {
  top:40px;
  left:220px;
}

.bubin1, .bubin2{
   position:relative;
  width:100px;
  height:100px; 
  border-radius:50% ;
 border-left:5px solid white;
 transform:rotate(50deg);
}
.bubin1 {
   top:11px;
  left:10px;
}
.bubin2 {
  top:10px;
  left:12px;
}

.bubin11, .bubin22 {
   position:relative;
  width:10px;
  height:20px; 
  background-color:white;
  border-radius:10px 30px 50px 0 ; 
  transform:skew(310deg,200deg);
}
.bubin11 {
  top:-20px;
  left:80px;
}
.bubin22 {
  top:-20px;
  left:80px;
  
}

@keyframes movebubble {
  0% {transform: scaleX(1)  scaleY(1);}
  20% {transform: scaleX(1.03) scaleY(0.97);}
  30% {transform: scaleX(0.98) scaleY(1.02);}
  50% {transform: scaleX(1.01) scaleY(0.99);}
  60% {transform: scaleX(0.96) scaleY(1.04);}
  70% {transform: scaleX(0.99) scaleY(1.01);}
  80% {transform: scaleX(1.02) scaleY(0.98);}
  90% {transform: scaleX(1.01) scaleY(0.99);}
  100% {transform: scaleX(1) scaleY(1);}
}
.fa{
   padding:2px;
    color:white;
    text-decoration:none;
    font-size:16px;
    text-align: center;
    margin: 3px 2px;
    width:30px;
    border-radius:5px;
    opacity:0.8;
}

.fa-twitter{
    background:#55ACEE;
}
.fa-facebook{
    background:#3B5998;
}
.fa-instagram{
   background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.fa:hover{
    opacity:1;
}
